<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Steps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8481D3791A59731500D76BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EBC3301915CD250063F4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EBC3541915CD250063F4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84FAD129191A8F1800B72BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
